<section class="homepage-container">
  <section class="homepage-box">
    <%= image_tag("cow.png") %>
    <h1>IK IAK</h1>
    <p>App inspired by Yik yak. More <%= link_to "About", about_path%></p>
    <%= link_to "Sign up", "#", class: 'button' %>
    <%= link_to "Sign in", "#", class: 'button' %>
  </section>
</section>