.homepage-container {
    height: 100%;
    background-color: #15f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
