.post-show-container {
    height: 100%;
}

.post-show-box {
    padding: 10px;
    font-size: 2rem;

    hr {
        border: 1px solid rgb(129, 129, 129);
        margin: 0 0 5% 0;
    }

    .post-show-btn {
        width: 100%;
        background-color: #47e4bb;
        border: 1px solid #fff;

        &:hover {
            background-color: #13bdbd;
            border: 1px solid #fff;
        }
    }
}

@media(min-width: 600px) {
    .post-show-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }

    .post-show-box {
        grid-column: 2 / 3;
    }
}