.posts-container {
    height: 100%;
}

.posts {
    padding: 10px;
    font-size: 2rem;

    hr {
        border: 1px solid rgb(129, 129, 129);
        margin: 0;
    }

    .posts-info {
        padding: 2px;
        display: flex;
        justify-content: space-between;
    }
}

@media(min-width: 600px) {
    .posts-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }

    .posts {
        grid-column: 2 / 3;
    }
}